<div class="previwer">
    @for(page of formFieldsService.pages;track page.id;let pageIndex=$index) {
    <div class="page my-4 p-3 border border-secondary rounded">
        <div class="page-header d-flex justify-content-between align-items-center mb-3">
            <h4> {{page.title}} </h4>
        </div>

        @for(question of page.questions;track question.id) {
        <div class="question mb-4 p-3">
            <div class="row mb-3">
                <div class="col-12">
                    <h5>{{question.questionText}} @if(question.isRequired){
                        <span class="text-danger">*</span>
                        }
                    </h5>
                    <app-form-field [question]="question" [isDesignMode]="false"></app-form-field>
                    @if(question.descriptionText){
                    <p class="text-secondary">{{question.descriptionText}}</p>
                    }
                </div>
            </div>

        </div>
        }
    </div>
    }
</div>