<div class="designer-section d-flex flex-column gap-3 h-100vh">
    @for(page of formFieldsService.pages;track page.id;let pageIndex=$index) {
    <div class="card p-3 bg-light d-flex flex-column gap-3">
        <h3>{{page.title}}</h3>
        @for(question of page.questions;track question.id) {
        <div class="form-group bg-white p-3 border rounded-2 d-flex flex-column gap-3">
            <div class="row">
                <div class="col-md-8">
                   <label class="mb-2" for="Question">Question</label>
                    <input id="Question" [(ngModel)]="question.questionText" type="text" class="form-control"
                        />
                </div>
                <div class="col-md-4">
                    <label class="mb-2" for="QuestionType">Question Type</label>
                    <select class="form-select"
                        (change)="formFieldsService.changeQuestionType(page.id, question.id,$any($event.target).value)">
                        @for(type of fieldsTypesService.getAllTypes();track
                        type.type) {
                        <option value="{{ type.type }}">{{ type.label }}</option>
                        }
                    </select>
                </div>
                <div class="col-12 mt-3">
                    <label class="mb-2" for="DescriptionText">Description</label>
                    <input id="DescriptionText" [(ngModel)]="question.descriptionText" type="text" class="form-control"
                         />
                </div>
            </div>
            <div class="row">
                @if(question.isRequired){
                <div class="is-required d-flex justify-content-end text-danger">*</div>
                }
                <app-form-field [question]="question" [isDesignMode]="true"></app-form-field>
            </div>
            <div class="row actions">
                <div class="col-12 d-flex justify-content-end align-items-center gap-2">
                    <div class="form-check">
                        <input [(ngModel)]="question.isRequired" class="form-check-input" type="checkbox" id="required-{{question.id}}">
                        <label class="form-check-label" for="required-{{question.id}}">
                            Is Required
                        </label>
                    </div>
                    <button (click)="formFieldsService.deleteQuestionFromPage(page.id, question.id)"
                        class="btn btn-danger">
                        Delete Question
                    </button>
                    <button (click)="formFieldsService.duplicateQuestion(page.id, question)" class="btn btn-warning">
                        duplicate Question
                    </button>
                    
                </div>
            </div>

        </div>
        }@empty{
        <p class="text-center text-secondary">No Questions Added Yet</p>
        }

        <div class="d-flex gap-3 justify-content-end">
            <button (click)="formFieldsService.addQuestionToPage(page.id)" class="btn btn-primary">
                Add New Question
            </button>
            @if(pageIndex == formFieldsService.pages.length -1){
            <button (click)="formFieldsService.addNewPage()" class="btn btn-primary">
                Add New Page
            </button>
            }
            <button (click)="formFieldsService.deletePage(page.id)" class="btn btn-danger">
                Delete Page
            </button>
        </div>
    </div>
    }

</div>
<div class="d-flex justify-content-end">
    <button (click)="formFieldsService.save()" class="btn btn-success mt-3">
        Save
    </button>
</div>